exportPattern("get_intervals")
exportPattern("rm_format")
exportPattern("get_overlaps")
exportPattern("rm_count")
exportPattern("co_summarise")
exportPattern("merge_counts")
exportPattern("apply_lm")
