exportPattern("get_intervals")
exportPattern("rm_format")
exportPattern("get_overlaps")
exportPattern("count_repeats")
exportPattern("summarize_repeat_counts")
exportPattern("apply_lm")
#' @import dplyr
#' @import GenomicRanges
#' @import biomaRt
#' @import biomartr
#' @import Rsamtools
#' @import edgeR
#' @import limma
#' @import rlist
#' @import stringr
